<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.dao.inter.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.xiao.dao.dto.SysLoginLog">
    <!--@mbg.generated-->
    <!--@Table sys_login_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_type" jdbcType="VARCHAR" property="loginType" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="login_module" jdbcType="VARCHAR" property="loginModule" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, username, ip, browser, os, device_type, `status`, msg, login_time, login_type, 
    user_agent, login_module, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_login_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_login_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log (user_id, username, ip, 
      browser, os, device_type, 
      `status`, msg, login_time, 
      login_type, user_agent, login_module, 
      create_time)
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{msg,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{loginType,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR}, #{loginModule,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="ip != null and ip != ''">
        ip,
      </if>
      <if test="browser != null and browser != ''">
        browser,
      </if>
      <if test="os != null and os != ''">
        os,
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="msg != null and msg != ''">
        msg,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginType != null and loginType != ''">
        login_type,
      </if>
      <if test="userAgent != null and userAgent != ''">
        user_agent,
      </if>
      <if test="loginModule != null and loginModule != ''">
        login_module,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null and browser != ''">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null and os != ''">
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="msg != null and msg != ''">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginType != null and loginType != ''">
        #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null and userAgent != ''">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginModule != null and loginModule != ''">
        #{loginModule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiao.dao.dto.SysLoginLog">
    <!--@mbg.generated-->
    update sys_login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null and browser != ''">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null and os != ''">
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="msg != null and msg != ''">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginType != null and loginType != ''">
        login_type = #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null and userAgent != ''">
        user_agent = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginModule != null and loginModule != ''">
        login_module = #{loginModule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiao.dao.dto.SysLoginLog">
    <!--@mbg.generated-->
    update sys_login_log
    set user_id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      msg = #{msg,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_type = #{loginType,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      login_module = #{loginModule,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_login_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="username = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.username,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ip,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="browser = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.browser,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="os = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.os,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="device_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deviceType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="msg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.msg,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="login_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.loginTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="login_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.loginType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_agent = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userAgent,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="login_module = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.loginModule,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    (user_id, username, ip, browser, os, device_type, `status`, msg, login_time, login_type, 
      user_agent, login_module, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userId,jdbcType=BIGINT}, #{item.username,jdbcType=VARCHAR}, #{item.ip,jdbcType=VARCHAR}, 
        #{item.browser,jdbcType=VARCHAR}, #{item.os,jdbcType=VARCHAR}, #{item.deviceType,jdbcType=VARCHAR}, 
        #{item.status,jdbcType=TINYINT}, #{item.msg,jdbcType=VARCHAR}, #{item.loginTime,jdbcType=TIMESTAMP}, 
        #{item.loginType,jdbcType=VARCHAR}, #{item.userAgent,jdbcType=VARCHAR}, #{item.loginModule,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelectiveUseDefaultForNull" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    (user_id, username, ip, browser, os, device_type, `status`, msg, login_time, login_type, 
      user_agent, login_module, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (
      <choose>
        <when test="item.userId != null">
          #{item.userId,jdbcType=BIGINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.username != null">
          #{item.username,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.ip != null">
          #{item.ip,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.browser != null">
          #{item.browser,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.os != null">
          #{item.os,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.deviceType != null">
          #{item.deviceType,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.status != null">
          #{item.status,jdbcType=TINYINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.msg != null">
          #{item.msg,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.loginTime != null">
          #{item.loginTime,jdbcType=TIMESTAMP},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.loginType != null">
          #{item.loginType,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.userAgent != null">
          #{item.userAgent,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.loginModule != null">
          #{item.loginModule,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.createTime != null">
          #{item.createTime,jdbcType=TIMESTAMP}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      user_id,
      username,
      ip,
      browser,
      os,
      device_type,
      `status`,
      msg,
      login_time,
      login_type,
      user_agent,
      login_module,
      create_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{userId,jdbcType=BIGINT},
      #{username,jdbcType=VARCHAR},
      #{ip,jdbcType=VARCHAR},
      #{browser,jdbcType=VARCHAR},
      #{os,jdbcType=VARCHAR},
      #{deviceType,jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT},
      #{msg,jdbcType=VARCHAR},
      #{loginTime,jdbcType=TIMESTAMP},
      #{loginType,jdbcType=VARCHAR},
      #{userAgent,jdbcType=VARCHAR},
      #{loginModule,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      user_id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      msg = #{msg,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_type = #{loginType,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      login_module = #{loginModule,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.xiao.dao.dto.SysLoginLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="ip != null and ip != ''">
        ip,
      </if>
      <if test="browser != null and browser != ''">
        browser,
      </if>
      <if test="os != null and os != ''">
        os,
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="msg != null and msg != ''">
        msg,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginType != null and loginType != ''">
        login_type,
      </if>
      <if test="userAgent != null and userAgent != ''">
        user_agent,
      </if>
      <if test="loginModule != null and loginModule != ''">
        login_module,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null and browser != ''">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null and os != ''">
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="msg != null and msg != ''">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginType != null and loginType != ''">
        #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null and userAgent != ''">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginModule != null and loginModule != ''">
        #{loginModule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null and browser != ''">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null and os != ''">
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="msg != null and msg != ''">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginType != null and loginType != ''">
        login_type = #{loginType,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null and userAgent != ''">
        user_agent = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="loginModule != null and loginModule != ''">
        login_module = #{loginModule,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>